<!-- 
  [sec 7.b]
  we can use Angular routerLink directive to enable anchor tags to be used through
  angular router
  we can route to the route path defined in router, on click
 -->
<nav>
  <a routerLink="/">
    <img src="assets/04.png" class="icon">
  </a>
  <a routerLink="/Movies">
    <img src="assets/03.png" class="icon">
  </a>
  <a routerLink="/Series">
    <img src="assets/02.png" class="icon">
  </a>
</nav>
<section>
  <header>
    <h1>Media Watch List</h1>
    <p class="description">Keeping track of the media I want to watch.</p>
  </header>
  <section>
    <router-outlet></router-outlet>
  </section>
</section>